.Login_page{
    width:500px;
    height:500px;
    position:absolute;
    top:20%;
    right:30%;
    border:1px solid black;
    /* background-color:rgb(143, 195, 195); */
    border-radius:20px;
    background:
        linear-gradient(rgb(228, 83, 83), transparent),
        linear-gradient(to top left, rgb(70, 255, 70), transparent),
        linear-gradient(to top right, rgb(75, 75, 227), transparent);
    background-blend-mode: screen;
     font-weight: bolder; 
     box-shadow: 0 9px  #999; 
     z-index: 800px;
       

    
}
.back{
    position: absolute;
    left: 90%;
    top:20px;
}

.Login{
    font-family:'Apple Chancery';
    position:absolute;
    left:40%;
    top:42%

}
.username{
    font-family:'Apple Chancery';
    position:absolute;
    left:10%;
    top:55%;
    font-weight:bolder;
   
}
.Pass
{
        font-family:'Apple Chancery';
        position:absolute;
        left:10%;
        top:67%;
        font-weight: bolder;

       
}
.input1{
     width : 170px;
     height:20px;
     position:absolute;
     top:55%;
     left:35%;
     border-radius: 10px;
     font-family:'Apple Chancery';
    box-shadow: 0 9px  #999;
   
     
}
.input2{
    width : 170px;
    height: 20px;
    position:absolute;
    top: 67%;
    left: 35%;
    border-radius: 10px;
     font-family:'Apple Chancery';
    box-shadow: 0 9px  #999;   
}
/* .button1
{
    width:100px;
    height:30px;
    position:absolute;
    left:20%;
    top:80%;
    background-color:rgb(164, 169, 230);
    border-radius:9px;
    font-family:'Apple Chancery';
    box-shadow: 0 9px  #999;
    
    
} */


/* CSS */
.button-73 {
font-family:'Apple Chancery';
  appearance: none;
  width:120px;
    height:50px;
    position:absolute;
    left:20%;
    top:80%;
  background-color: #e87b7b;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

/* @media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
} */

/* .button2
{
    width:100px;
    height:30px;
    position:absolute;
    left:50%;
    top:80%;
    background-color:rgb(164, 169, 230);
    border-radius:9px;
    font-family:'Apple Chancery';
    box-shadow: 0 9px  #999;
} */
.button-74 {
    font-family:'Apple Chancery';
      appearance: none;
      width:120px;
      height:50px;
      position:absolute;
      left:50%;
      top:80%;
      background-color: #e87b7b;
      border-radius: 40em;
      border-style: none;
      box-shadow: #ADCFFF 0 12px 6px inset;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: -.24px;
      margin: 0;
      outline: none;
      padding: 1rem 1.3rem;
      quotes: auto;
      text-align: center;
      text-decoration: none;
      transition: all .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
     
    }
    
    .button-74:hover {
      background-color: #FFC229;
      box-shadow: #FF6314 0 -6px 8px inset;
      transform: scale(1.125);
    }
    
    .button-74:active {
      transform: scale(1.025);
    }
