.image{
    
    float:left;
    width:50%

}

.content{
    float:left;
    width:50%;
    border:2px solid black;



}
.back_button{
    position: absolute;
    left: 0%;
    top:20px;
}
.Quote{
    position:absolute;
    top:150px; 
    background-color:azure;
    width:1425px;
    height: 900px;
    border:2px solid black;
}
.quote_box{
    border:2px solid black;
    background-color:#54bab9;
    border-radius: 10px;
    box-shadow: 10px 10px;
}
